@use '../variables'
@use '../mixins' 
    
#information
    @include mixins.center
    flex-direction: column
    padding: 1rem
    padding-top: .5rem
    margin-bottom: 1rem
    min-width: 75%

    .info-card    
        gap: 1rem
        width: 100%
        border-bottom: 1px solid #fff3
    
    .info-typing
        padding: .5rem
        color: variables.$text-color

        svg
            color: variables.$text-color-secondary

    #phone
        @include mixins.typing-effect($duration: 2s)

    #email
        @include mixins.typing-effect($duration: 4s)

    #pin
        @include mixins.typing-effect($duration: 6s)