@use '../variables'
@use '../mixins' 
    
#information
    @include mixins.center
    flex-direction: column
    padding: 1rem
    padding-top: .5rem
    margin-bottom: 1rem
    min-width: 75%

    .info-card
        @include mixins.center
        justify-content: start
        gap: 1rem
        border-bottom: 1px solid variables.$text-color-secondary
        width: 100%
    
        p
            color: variables.$text-color
            justify-content: end

        svg
            padding: 0.4rem
            width: 2rem
            height: 2rem
            color: variables.$text-color-secondary