@use '../variables'
@use '../mixins'
    
#main-content
    background-color: variables.$bg-color
    flex: 2 1 0
    border-radius: variables.$container-border-radius
    padding: 3rem

    section
        display: flex
        flex-direction: column

    h2
        color: variables.$text-color
        font-size: 1.5rem
        margin-bottom: 1.3rem
        @include mixins.center
        justify-content: start
        gap: 1rem      

    p
        color: variables.$text-color-secondary
        font-size: .8rem
        margin-bottom: 1rem
        line-height: 1.3rem
        // @include mixins.typing-effect($duration: 5s)
        
        
    .btn
        align-self: start
        @include mixins.btn
        