@use '../variables'
@use '../mixins'

.projects-container

.projects-grid
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 1.5rem

.project-card
    border: 1px solid #333
    min-height: 10rem
    width: 45%
    display: flex
    flex-direction: column

    @media screen and (max-width: 768px)
        width: 100%

.card-body
    display: flex
    align-items: center
    padding: 1rem
    flex-grow: 1

    svg
        margin-right: 1rem
        font-size: 3rem
        color: variables.$text-color
        @include mixins.delayed-appear(5s)

.project-info
    display: flex
    flex-direction: column

    h3
        padding-bottom: .5rem
        color: variables.$text-color
        @include mixins.typing-effect($duration: 5s)

    p
        text-align: justify

a.btn-card
    display: block
    border-top: 1px solid #333
    color: variables.$text-color
    width: 100%
    text-decoration: none
    padding: .4rem

    &:hover
        color: variables.$bg-color
        background: variables.$text-color

#calendar
    svg
        color: variables.$orange-sec

#game
    svg
        color: variables.$purple

#crud
    svg
        color: variables.$green

#weather
    svg
        color: variables.$lg-blue