@use '../variables'
@use '../mixins' 
    
#social-networks
    @include mixins.center
    gap: 1rem
    margin: 1rem 0

    .social-btn
        padding: .6rem
        border: solid 1px
        background-color: black
        color: variables.$text-color-secondary
        font-size: 1.3rem
        @include mixins.center

    :hover
        background: white
        > svg
            color: black