@use '../variables'
@use '../mixins'

.technologies-container
    margin-bottom: 1rem

    .technologies-grid
        display: flex
        justify-content: center
        flex-wrap: wrap
        gap: 1.5rem

    .technology-info
        margin: 5%


    .technology-card
        display: flex
        border: 1px solid #333
        width: 45%

        @media screen
        @media ( max-width: 768px)
            width: 100%

        h3
            color: variables.$text-color
            @include mixins.typing-effect($duration: 5s)

        p
            text-align: justify
    

        svg
            padding-top: 1rem
            justify-content: start
            font-size: 4.5rem
            color: variables.$text-color
            @include mixins.delayed-appear(5s)

    #js
        svg
            padding-left: 1rem
