//Fonts
$font-stack: "monospace"
$font-title: "Press Start 2P"

//Decoration

    
//Colors
$text-color: #dbdbdb
$text-color-secondary: #a6a6a6
$border-color: #8b8484
$body-bg-color: #0f0f0f
$bg-color: #0F0F0F

//Jwao Theme

$blue:   #3da8af
$green:  #969619
$yellow: #F2AE2E
$orange: #c06922
$red:    #C82319


$orange-sec: #773306
$purple: #653e97
$lg-blue:#81A596
$gray:   #918273