//Fonts
$font-stack: "monospace"
$font-title: "Press Start 2P"

//Decoration
$container-border-radius: 10px
$card-border-radius: 5px

//Colors
$text-color: #dbdbdb
$text-color-secondary: #a6a6a6
$border-color: #8b8484
$body-bg-color: #0f0f0f
$bg-color: #0F0F0F
$bg-color-secondary: #1d1d1d
$gradient: linear-gradient(90deg, #720F0F 0%, #cc241d 98%)